#!/bin/bash

# {{ template "scripts-library" }}

  true || source ../.chezmoitemplates/scripts-library

{{ if .osid | eq "darwin" -}}

  log_task "Setting up 1Password agent"

  mkdir -p ~/.1password && ln -sf ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock ~/.1password/agent.sock
{{ end }}
