[credential]
helper = /usr/local/bin/git-credential-manager
{{   if .is_wsl -}}
credentialStore = wincredman
{{   else if .is_gnome -}}
credentialStore = secretservice
{{   else -}}
credentialStore = plaintext
{{   end -}}
